.modal{
    position: fixed;
    top: 0;
    background-color: rgba(139,134,134,0.5);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.modal-card{
    width: 55%;
    height: 70%;
    background-image: linear-gradient(rgb(118, 201, 232),#ffffff) ;
    margin: 5%;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    align-items: center;
}


.modal-titlebox{
    width: 95%;
    padding: 10px 10px;
    display: flex;
    justify-content:space-between;
}

.modal-title{
    font-size: 28px;
    color: rgb(7, 7, 6);
    font-weight: 600;
}

.x-btn{
    font-size: 32px;
    color: rgba(8, 8, 8, 0.938);
    font-weight: 600;
    width: 40px;
    display: flex;
    justify-content: center;
    cursor: pointer;

}

.x-btn:hover{
    background-color: grey;
}

.modal-body{
    width: 95%;

}
.inputRowModal{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.inputBox{
    display: flex;
    flex-direction: column;
    width: 50%;
   
}
.input-label{
    font-size: 12px;
    color: rgb(8, 8, 7);
    font-weight: 500;
}

.input-modal{
    border: 1px solid rgba(6, 144, 190, 0.767);
    width: 80%;
    height: 35px;
    border-radius: 5px;
    padding: 0 10px;

}

.input-modal::placeholder{
    color: rgba(6, 144, 190, 0.767);
}
.input-modal:focus{
    outline: none;
}

.btnDivModal{
    width: 100%;
    display:flex ;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.submit-modal{
    width: 100px;
    height: 30px;
    border: 1px solid;
    cursor: pointer;
    display:flex ;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    background: linear-gradient(rgba(6, 144, 190, 0.767) 0 0) var(--p,0) / var(--p,0) no-repeat;
    transition: 0.8s, background-position 0s;

}

.submit-modal:hover{
    background-color: rgba(6, 144, 190, 0.767);
    --p:100%;
    color: #000000;
}