.navbar{
    width: 100%;
    /* border: 1px solid; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: rgba(236, 10, 108, 0.925); */
    background-color: whitesmoke
}
.rightsideNavbar{
    display:flex; 
    height: 100%; 
}
.linksRightNavbar{
    margin: 0px 10px; 
    /* border: 1px solid; */
    display: flex; 
    justify-content: center;
    align-items: center;
    width: 120px; 
    font-weight: 700;
    cursor: pointer;
    background: linear-gradient(rgb(0, 213, 255) 0 0) var(--p,0) / var(--p,0) no-repeat;
    transition: 0.8s, background-position 0s;
    border-radius: 5px;
    font-size: 17px;
    position: relative;  
    text-decoration: none;
    color: #000000;
}

.linksRightNavbar:hover{
    background-color: rgb(0, 213, 255);
    --p:100%;
    color: #000000;
}
.addtest-modal{
    position: absolute;
    top: 100%;
    right: 0%;
    background-color: whitesmoke;
    box-shadow: 0 0 5px #999;
    width: 350px;
    box-sizing: border-box;
    padding: 20px;
    margin-top: 15px;
}
.input-addtest-modal{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}


.imglogoNavbar{
    width: 50px;
    height: 50px;
    margin-left: 30px;
    border-radius: 50%;
    cursor: pointer;
}
.nameBar{
    /* display: flex; */
    /* justify-content: center; */
    color:rgba(6, 144, 190, 0.767) ;
    margin-right: 780px;
    font-size: 25px;
    font-weight: 500;
    font-style: italic;
}

.inputAddTestLabel{
    font-size: 15px;
}
.create-addTest{
    width: 80px;
    border: 1px solid;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.create-addTest:hover{
    background-color: rgba(6, 144, 190, 0.767);;
}



/* -------------- */

