.report-page{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
    
    
}

.reportDiv{
    width: 70%;
    border: 1px solid rgba(6, 144, 190, 0.767);
    background-color: rgb(118, 201, 232);
    padding: 50px;
    border-radius: 20px;
}

.report-infos{
    display: flex;
    justify-content: space-between;

}


.report-inputBlock{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.report-tests{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.nameOfTest{
    font-weight: 600;
    font-size: 18px;
}

.inputRows{
    display: flex;
    flex-direction: column;
}
.inputRow{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.input-row-group{
    display: flex;
    flex-direction: column;
}

.input-test-name{
    font-size: 12px;
    color: black;
}
.btn-grp-add-rem{
    display: flex;
}

.add-btn-row{
    background-color: rgba(6, 144, 190, 0.767);;
    width: 60px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    color: black;
    margin-right: 10px;
}

.input-feild-tests{
    border: 1px solid rgba(6, 144, 190, 0.767);;
    border-radius: 5px;
    width: 90%;
}
.input-feild-tests:focus{
    outline: none;
}